.name{
  font-weight: bold;
  color: var(--secondary-dark);
}

    i {
      font-size: 30px;
    }
    

  
  .d-flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
  }

  .w-100{
    width: 100%;
  }
  
  /* hero-section */

  @media (min-width: 800px) {
  .home-first{
    padding: 64px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: auto;
  }
  
.home-img{
  width: 40vw;
}
}

  @media  (max-width: 800px) {
    .home-first{
      padding: 64px 0px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    
    .home-img{
      width: 100%;
      height: 330px;
      padding: 15px 0px;
    }
  }
  
  .hero-section .container > div {
    width: 48%;
    /* border: solid red 2px; */
  }
  .hero-section .container iframe {
    width: 100%;
    height: 310px;
  }
  
  .hero-section-light {
    color: var(--secondary-light);
  }
  .hero-section-dark {
    color: var(--secondary-dark);
    font-weight: normal;
  }
  
  
@media (min-width: 1100px) {
  .home-offer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    
  }
  .home-offer h2{
    display: flex;
    justify-content: space-between;
    font-weight: normal;
  }
}
@media (max-width: 1100px) {
  .home-offer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    
  }
  .home-offer h2{
    font-weight: normal;
  }
}
  /* feature section */
  
  .feature-card-section1 {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .feature-button {
    margin: 20px auto;
    justify-content: center;
  }
  
  .feature-card-section3-icon {
    color: var(--primary-mid);
  }
  
  .feature-card {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    min-height: 100%;
  }
  
  .feature-card > div {
    margin-bottom: 12px;
  }
  
  .feature-card div:last-child {
    margin: 0px;
  }
  
  nav .md-icon {
    display: none !important;
  }


  @media (min-width: 0px) and (max-width: 700px) {
    /* heaader */
  
    nav .md-icon {
      display: inline !important;
    }
    nav span {
      display: none;
    }
  
    .two-col{
        width: 100%;
    }
}
@media (min-width: 1200px) {
  .prod-main {
    margin: 64px 100px;
  }

  .three-col {
    width: 33.33%;
    padding: 0px 20px;
    margin: 0px 0px 40px 0px;
  }

  .four-col {
    width: 25%;
    gap: 20px;
    margin-top: 60px;
    min-width: 250px;
  }

  .two-col {
    width: 50%;
    padding: 0px 20px;
    margin: 0px 0px 40px 0px;
  }
}

@media (min-width: 550px) and (max-width: 1200px) {
  .prod-main {
    margin: 50px 50px;
  }

  .row {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between; 
  }

  .four-col {
    width: 48%; 
  }
}

@media (min-width: 0px) and (max-width: 550px) {
  .prod-main {
    margin: 50px 24px;
  }

  .row {
    flex-wrap: wrap;
    gap: 10px;
  }

  .four-col {
    width: 100%; 
  }
}


@media (max-width:700px){
    nav{
        text-decoration: none;
        justify-content: space-between;
        margin-left: 58px;
        color: white;
    }
}

.frame-one{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100vw;

}

.product-info {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center;
  text-align: center;
}

.prod-btn{
  justify-content: space-between;
}


/* Contact us */

.section-contact input,textarea{
background-color: var(--main-bg);
}

.message-h2 {
  color: var(--primary-mid);
  text-align: center;
}
input, textarea, .contact-us-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--main-bg);
  border-radius: 5px;
}
button {
  background: var(--primary-mid);
  color: var(--main-bg);
  margin: 24px 0px;
  padding: 10px;
  border: none;
  width: auto;
  border-radius: 10px;
  cursor: pointer;
  
}
button:hover {
  background: var(--primary-dark);
}

.btn-warning{
  background: var(--warning);
}
.btn-warning:hover {
  background: rgb(246, 206, 48);
}

.btn-secondary{
  background: var(--secondary-light);
}
.btn-secondary:hover {
  background: var(--secondary-dark);
}

.contact-form{
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
@media (min-width:800px){
.contact-form{
  padding: 94px 290px;
}
}

@media (min-width: 500px) and (max-width: 900px) {
  .contact-form{
    padding:50px 121px
  }
}
@media (max-width:500px){
  .contact-form{
    padding:50px 50px
  }
}

/* Contact us */
textarea {
  width: 100%;
  height: 200px; 
  resize: both; /* Allow resizing */
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
textarea::placeholder {
  font-family: 'Roboto', sans-serif;
}
/* View Products */
.banner {
  width: 100%;
  height: 300px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; 
  overflow: hidden; 
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center;
}
.product-container {
  background: var(--container);      
  padding: 50px 150px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 50px 200px;
}
.product-container section{
  display: flex;
  justify-content: center;
}
.product-container button{
  padding:10px 50px;
}
.quantity-container {
  display: flex;
  align-items: center; 
  gap: 8px; 
}

.number-input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  text-align: center;
}


@media (min-width:700px) and (max-width:1100px){
  .product-container {
    margin: 25px 100px;
    padding: 25px 50px;
  }
}
@media (max-width:700px){
  .product-container {
    margin: 0px;
    padding: 40px;
  }
}
.product-image img {
  width: 150px;
}
.product-title {
  font-size: 24px;
  font-weight: bold;
}
.rating {
  color: #ffd700;
}
.product-details {
  text-align: left;
  margin: 10px 0;
}
.product-details p ,.product-details .rating-container{
  display: block;
  margin-top: 20px;
}
.product-description {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}
.detail-prod {
  display: flex;
  justify-content: space-around;
}

/* category section home */
.category-container{
  margin: 100px;
  position: relative
}
.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin: auto;
}
.category {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}
.category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.3s ease;
}
.overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.overlay p {
  color: white;
  font-size: 18px;
  opacity: 0;
  transition: all 0.3s ease;
}
.category:hover .overlay {
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
.category:hover .overlay p {
  opacity: 1;
}

@media (max-width: 500px) {
  .categories {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
}
@media (min-width: 500px) and (max-width: 900px) {
  .categories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin: auto;
  }
  .category-container{
    margin: 50px;
  }
}